$backgroundColor: #efefef;
$radius: 40%;

form {
  display: inline-block;
  // margin: auto;
  width: 200px;

  label {
    display: flex;
    margin: 1rem 0;

    &.methods {
      span {
        cursor: pointer;
        margin-top: 50px;
        margin-left: 80px;
        margin-bottom: 60px;
        padding: .25rem .5rem;
        // background: #ccc;
        width: 100px;
        font-size: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        &:hover, &.active {
          background: #173e5c;
          color: white;
        }
      }
    }
  }
}
.sreach{
  top: 150px;
  left: 90px;
  position: absolute;
  width: 90%;
  height: 20px;
  background-color: lightcyan;
}
.url{
  top: 145px;
  left: 20px;
  position: absolute;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}
.button{
  top: 200px;
  left: 700px;
  position: absolute;
  width: 90px;
  height: 25px;
  background-color: white;
}
